body {
	background-color:white;
	font-size: 18px;
	margin:0;
	padding:0;
	color: black;
	font-family: 'Montserrat', arial, helvetica, sans-serif;
}

.header{
	background-image: url(Greenbelt.jpg);
	background-size: cover;
	background-position-y: 70%;
	margin:0;
	padding:0;
	height:20vw;
}
.navbar{
	list-style-type: none;
	margin: 0;
	padding:0;
	top:0;	
	overflow: hidden;
	background-color: #187ba4;
	position: sticky;
	display:flex;
	justify-content: center;
}
.navbar2{
	list-style-type: none;
	margin: 0;
	padding:0;
	top:0;	
	overflow: hidden;
	background-color: #187ba4;
	position:absolute;
	display:flex;
	justify-content: center;
}

li {
	float:left;
	text-align:center;
}

li a{
	display: inline-block;
	color:white;
	text-decoration: none;
	width: 25vw;
	margin: 0;
	padding: 15px 0px;
	letter-spacing: 1px;
	flex: 1;
}
li a:focus{
	border-color:white;
	background-color:#007cba;;
	color:white;
	font-weight: bold;
}
li a:hover {
	background-color: #007cba;;
	color:white;
}
.active{
	display: block;
	background-color:#0c71c3;
}
.block1 {
	padding: 0.5vw;
	margin-top: 0;
	margin-left: 1vw;
	margin-right:1vw;
	border-bottom:solid;
	border-color: #000000;
	border-width: 1pt;
}
.block2 {
	padding: 0.5vw;
	margin-top: 0;
	margin-left: 10vw;
	margin-right:10vw;
	border-bottom:solid;
	border-color: #858484;
	border-width: 1pt;
	border-bottom: none;
}
.grid3 {
	padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 10vw;
	padding-right: 10vw;
	text-align: center;
}
.title1 {
	font-size: 30px;
	color:#000000
}

.title2{
	font-weight:bold;
	font-size:20px;
	color:#009999;
	margin-top: 5px;
	margin-bottom:0px;
}

.title3 {
	width:60%;
	margin: auto;
	font-size: 30px;
	color:#000000
}

.title4 {
	font-size:20pt;
	color:#000000;
}

.generalText{
	margin-top: 0;
	text-align: justify;
}

.homeSubHead{
	font-weight:bold;
	font-size:20px;
}

.text1{
	font-size:22px;	
    text-align: justify;
}
.text2{
    font-size:18px;	
	text-align: center;
}

.text3{
    font-size:16px;	
	text-align: justify;
}

.text4{
	font-size:18px;
}
.list {
	list-style-type: none;
	margin: 0;
	padding:0;
	top:0;	
	overflow:hidden;
	background-color: #08940f;
	position: sticky;
	justify-content: center;
}

#map {
    height: 900px;
    width:90%;
	text-align: center;
	margin-top: 5vw;
	margin-bottom: 1vw;
	margin-left: 1vw;
	margin-right: 1vw;
}
/* about us page code */
.bghead {
    text-align: center;
    background-color:white;
    padding-bottom: 7px;
}
.bgimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 20%;
}
.grid {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 10vw;
	padding-right: 10vw;
    display: flex;
}
.grid2 {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 10vw;
	padding-right: 10vw;
    color:#000;
    background-color:#f1f1f1;
    display: flex;
}
.Sgrid {
    padding-top: 64px;
    padding-left: 1vw;
	padding-right: 1vw;
    display: flex;
}

.gridcontent {
    text-align: left;
    flex: 100%;
}
.textcolor{
    color:#757575
}
.propic {
    right: 600px;
}
.propic1 {
    left: 150px;
    flex: 0%;
    padding-right: 1%;
}
#cpic{
	height: 150px;
	width: 150px;
}
.popupimage{
	max-width: 301px;
}
.profilepic {
    left: 150px;
    flex: 0%;
    padding-right: 1%;
}

.Disclaimer {
    color: white;
    flex:60%;
    font-size: 15px;
    background-color: #333;
    text-align: center;
}
.footer {
	background-color: #0c71c3;
	position: static;
	width: 100%;
	bottom: 0px;
	left: 0px;
}
.footernote {
	color:rgb(255, 255, 255);
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1vw;
}
.methimg {
	width:80vw;
	height:100%;
	text-align: center;
	padding-bottom: 1vw;
}
.flex-container {
	display: flex;
}
.flex1 {
	flex:30%;
	border: #000000 2px;
	margin-right: 10px;
}
.flex2 {
	flex:70%;
	border: #000000 2px;
}


/*Testing 2*/
body {
	position: relative;
	min-height: 100vh;
	width:100%;
	overflow: hidden;
}
.sidebar {
	height:100%;
	width:70px;
	background:#111;
	position:fixed;
	top:0;
	left:0;
	padding: 6px 14px;
	transition: all 0.5s ease;
}
.sidebar .active{
	width: 240px;
}
.sidebar .logocontent .logo{
	color:#fff;
	display: flex;
	height: 50px;
	width:100%;
	align-items: center;
	opacity:0;
	pointer-events: none;
}
.sidebar .active .logocontent .logo{
	opacity: 1;
	pointer-events: none;
}
.logocontent .logo i{
	font-size: 28px;
	margin-right: 5px;
}
.sidebar #btn{
	color:#fff;
	position:absolute;
	left:50%;
	top:6px;
	font-size: 20px;
	height:50px;
	width:50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}
.sidebar .active #btn {
	left:90%;
}
.sidebar ul{
	margin-top: 20px;
}
.sidebar ul li { 
	list-style: none;
	height: 50px;
	width:100%;
	position:relative;
	margin: 0 5px;
	line-height: 50px;
	border-radius: 12px;
}
.sidebar ul li a{
	color:#fff;
	display:flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	white-space: nowrap;
}
.sidebar ul li a:hover{
	background:#fff;
	color:#111;
	cursor:grab;
}
.sidebar ul li i{
	height:50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
}
.sidebar .link_name{
	opacity:0;
	pointer-events: none;
}
.sidebar .active .link_name{
	opacity:1;
	pointer-events: auto;
}
.sidebar ul li .tooltip{
	position:absolute;
	height:35px;
	width:122px;
	background:#fff;
	left:122px;
	top:0;
	transform: translate(-50%,-50%);
	border-radius: 6px;
	line-height:35px;
	text-align:center;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	transition: 0s;
	opacity:0;
	pointer-events: none;
	display: block;
}
.sidebar .active ul li .tooltip{
	display: none;
}	
.sidebar ul li:hover .tooltip{
	top:50%;
	transition: all 0.4s ease;
	opacity:1;

}
/* Testing 2*/